/**
 * Styles for table elements
 */

table {
	border-spacing: 0;
}

.tr-hoverable:hover, tr.checked {
	background: #eee;
}

td, th {
	padding: 0.75em 1em;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}